{{- if not (lookPath "nvim") }}
.config/nvim
{{- end }}

{{- if not (lookPath "i3") }}
.config/i3
{{- end }}

{{- if not (lookPath "polybar") }}
.config/polybar
{{- end }}

{{- if not (lookPath "wezterm") }}
.config/wezterm
{{- end }}
